<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <package name="dgsim" displayName="Simulates demographics of wildlife populations" version="2.2.0" configVersion="2.0000" url="https://github.com/ApexRMS/dgsim">
    <transformers>
      <transformer name="dgsim" isPrimary="True">
        <runtime>
          <transformer name="dgsim:runtime"/>
        </runtime>
        <include>
          <transformer name ="stime:stats"/>
          <transformer name="stime:charts"/>
        </include>
      </transformer>
      <transformer name="dgsim:runtime" displayName="Demographic Population" className="SyncroSim.DGSim.DGSimTransformer" classAssembly="SyncroSim.DGSim" configurationSheet="DGSim_RunControl">
        <datafeeds>
          <datafeed name="dgsim:ageclass-datafeed" displayName="Age Classes" dataScope="Project">
            <datasheets>
              <datasheet name="DGSim_AgeClass" displayName="Age Classes" valueMember="AgeClassID" displayMember="Name">
                <columns>
                  <column name="AgeClassID" dataType="Integer" isPrimary="True"/>
                  <column name="ProjectID" dataType="Integer"/>
                  <column name="Name" dataType="String"/>
                  <column name="Description" dataType="String" isOptional="True"/>
                </columns>
              </datasheet>
            </datasheets>
          </datafeed>
          <datafeed name="dgsim:stratum-datafeed" displayName="Strata" dataScope="Project">
            <datasheets>
              <datasheet name="DGSim_Stratum" displayName="Strata" valueMember="StratumID" displayMember="Name">
                <columns>
                  <column name="StratumID" dataType="Integer" isPrimary="True"/>
                  <column name="ProjectID" dataType="Integer"/>
                  <column name="Name" dataType="String"/>
                  <column name="Description" dataType="String" isOptional="True"/>
                </columns>
              </datasheet>
            </datasheets>
          </datafeed>
          <datafeed name="dgsim:run-control-datafeed" displayName="Run Control" dataScope="Scenario">
            <datasheets>
              <datasheet name="DGSim_RunControl" displayName="Run Control" isSingleRow="True">
                <columns>
                  <column name="RunControlID" dataType="Integer" isPrimary="True"/>
                  <column name="ScenarioID" dataType="Integer"/>
                  <column name="MinimumIteration" dataType="Integer" defaultValue="1" validationType="WholeNumber" validationCondition="GreaterEqual" formula1="1" format="d"/>
                  <column name="MaximumIteration" dataType="Integer" defaultValue="1" validationType="WholeNumber" validationCondition="GreaterEqual" formula1="1" format="d"/>
                  <column name="MinimumTimestep" dataType="Integer" defaultValue="0" validationType="WholeNumber" validationCondition="GreaterEqual" formula1="0" format="d"/>
                  <column name="MaximumTimestep" dataType="Integer" defaultValue="0" validationType="WholeNumber" validationCondition="GreaterEqual" formula1="0" format="d"/>
                  <column name="StartJulianDay" dataType="Integer" defaultValue="1" validationType="WholeNumber" validationCondition="Between" formula1="1" formula2="365" format="d"/>
                </columns>
                <validations>
                  <validation validationType="LessEqual" columns="MinimumIteration|MaximumIteration"/>
                  <validation validationType="LessEqual" columns="MinimumTimestep|MaximumTimestep"/>
                </validations>
              </datasheet>
            </datasheets>
          </datafeed>
          <datafeed name="dgsim:initial-population-datafeed" displayName="Initial Population" dataScope="Scenario">
            <datasheets>
              <datasheet name="DGSim_InitialPopulationSize" displayName="Initial Population Size" isSingleRow="True">
                <columns>
                  <column name="InitialPopulationSizeID" dataType="Integer" isPrimary="True"/>
                  <column name="ScenarioID" dataType="Integer"/>
                  <column name="Mean" dataType="Integer" validationType="WholeNumber" validationCondition="GreaterEqual" formula1="0"/>
                  <column name="DistributionType" displayName="Distribution" dataType="Integer" validationType="Datasheet" formula1="STime_DistributionType" isOptional="True"/>
                  <column name="DistributionSD" displayName="Standard Deviation" dataType="Double" validationType="Decimal" validationCondition="Greater" formula1="0" isOptional="True"/>                  
                  <column name="DistributionMin" displayName="Minimum" dataType="Integer" validationType="WholeNumber" validationCondition="Greater" formula1="0" isOptional="True"/>
                  <column name="DistributionMax" displayName="Maximum" dataType="Integer" validationType="WholeNumber" validationCondition="Greater" formula1="0" isOptional="True"/>
                </columns>
                <validations>
                  <validation validationType="LessEqual" columns="DistributionMin|DistributionMax"/>
                </validations>
              </datasheet>
              <datasheet name="DGSim_InitialPopulationDistribution" displayName="Initial Population Distribution">
                <columns>
                  <column name="InitialPopulationDistributionID" dataType="Integer" isPrimary="True"/>
                  <column name="ScenarioID" dataType="Integer"/>
                  <column name="StratumID" displayName="Stratum" dataType="Integer" validationType="Datasheet" formula1="DGSim_Stratum" isOptional="True"/>
                  <column name="Sex" dataType="Integer" validationType="List" formula1="0:Male|1:Female" isOptional="True"/>
                  <column name="MinimumAge" displayName="MinimumAge" dataType="Integer" validationType="WholeNumber" validationCondition="GreaterEqual" formula1="0"/>
                  <column name="MaximumAge" displayName="MaximumAge" dataType="Integer" validationType="WholeNumber"/>
                  <column name="RelativeAmount" displayName="Relative Amount" dataType="Double" validationType="Decimal" validationCondition="GreaterEqual" formula1="0"/>
                </columns>
                <validations>
                  <validation validationType="LessEqual" columns="MinimumAge|MaximumAge"/>
                </validations>
              </datasheet>
            </datasheets>
          </datafeed>
          <datafeed name="dgsim:ageclass-range-datafeed" displayName="Age Class Ranges" dataScope="Scenario">
            <datasheets>
              <datasheet name="DGSim_AgeClassRange" displayName="Age Class Ranges">
                <columns>
                  <column name="AgeClassRangeID" dataType="Integer" isPrimary="True"/>
                  <column name="ScenarioID" dataType="Integer"/>
                  <column name="AgeClassID" displayName="Age Class" dataType="Integer" validationType="Datasheet" formula1="DGSim_AgeClass"/>
                  <column name="MaximumAge" displayName="Maximum Age" dataType="Integer" validationType="WholeNumber" validationCondition="GreaterEqual" formula1="0"/>
                </columns>
              </datasheet>
            </datasheets>
          </datafeed>
          <datafeed name="dgsim:offspring-per-female-datafeed" displayName="Offspring per Female" dataScope="Scenario">
            <datasheets>
              <datasheet name="DGSim_OffspringPerFemaleOption" displayName="Offspring per Female Options" isSingleRow="True">
                <columns>
                  <column name="OffspringPerFemaleOptionID" dataType="Integer" isPrimary="True"/>
                  <column name="ScenarioID" dataType="Integer"/>
                  <column name="BirthJulianDay" dataType="Integer" validationType="WholeNumber" validationCondition="Between" formula1="1" formula2="365"/>
                </columns>
              </datasheet>
              <datasheet name="DGSim_OffspringPerFemaleValue" displayName="Offspring per Female Values">
                <columns>
                  <column name="OffspringPerFemaleValueID" dataType="Integer" isPrimary="True"/>
                  <column name="ScenarioID" dataType="Integer"/>
                  <column name="Iteration" dataType="Integer" validationType="WholeNumber" validationCondition="Greater" formula1="0" format="d" isOptional="True"/>
                  <column name="Timestep" displayName="Year" dataType="Integer" validationType="WholeNumber" validationCondition="GreaterEqual" formula1="0" format="d" isOptional="True"/>
                  <column name="CountJulianDay" displayName="Count Julian Day" dataType="Integer" validationType="WholeNumber" validationCondition="Between" formula1="1" formula2="365" isOptional="True"/>
                  <column name="StratumID" displayName="Stratum" dataType="Integer" validationType="Datasheet" formula1="DGSim_Stratum" isOptional="True"/>
                  <column name="AgeClassID" displayName="Age Class" dataType="Integer" validationType="Datasheet" formula1="DGSim_AgeClass" isOptional="True"/>
                  <column name="Mean" dataType="Double" validationType="Decimal" validationCondition="GreaterEqual" formula1="0"/>
                  <column name="DistributionType" displayName="Distribution" dataType="Integer" validationType="Datasheet" formula1="STime_DistributionType" isOptional="True"/>
                  <column name="DistributionSD" displayName="SD" dataType="Double" validationType="Decimal" validationCondition="Greater" formula1="0" isOptional="True"/>
                  <column name="DistributionMin" displayName="Minimum" dataType="Double" validationType="Decimal" validationCondition="GreaterEqual" formula1="0" isOptional="True"/>
                  <column name="DistributionMax" displayName="Maximum" dataType="Double" validationType="Decimal" validationCondition="GreaterEqual" formula1="0" isOptional="True"/>
                </columns>
                <validations>
                  <validation validationType="LessEqual" columns="DistributionMin|DistributionMax"/>
                </validations>
              </datasheet>
            </datasheets>
          </datafeed>
          <datafeed name="dgsim:annualized-mortality-rate-datafeed" displayName="Annualized Mortality Rate" dataScope="Scenario">
            <datasheets>
              <datasheet name="DGSim_AnnualizedMortalityRate" displayName="Annualized Mortality Rate">
                <columns>
                  <column name="AnnualizedMortalityRateID" dataType="Integer" isPrimary="True"/>
                  <column name="ScenarioID" dataType="Integer"/>
                  <column name="Iteration" dataType="Integer" validationType="WholeNumber" validationCondition="Greater" formula1="0" format="d" isOptional="True"/>
                  <column name="Timestep" displayName="Year" dataType="Integer" validationType="WholeNumber" validationCondition="GreaterEqual" formula1="0" format="d" isOptional="True"/>
                  <column name="JulianDay" displayName="Julian Day" dataType="Integer" validationType="WholeNumber" validationCondition="Between" formula1="1" formula2="365" isOptional="True"/>
                  <column name="StratumID" displayName="Stratum" dataType="Integer" validationType="Datasheet" formula1="DGSim_Stratum" isOptional="True"/>
                  <column name="Sex" dataType="Integer" validationType="List" formula1="0:Male|1:Female" isOptional="True"/>
                  <column name="AgeClassID" displayName="Age Class" dataType="Integer" validationType="Datasheet" formula1="DGSim_AgeClass" isOptional="True"/>
                  <column name="Mean" dataType="Double" validationType="Decimal" validationCondition="GreaterEqual" formula1="0"/>
                  <column name="DistributionType" displayName="Distribution" dataType="Integer" validationType="Datasheet" formula1="STime_DistributionType" isOptional="True"/>
                  <column name="DistributionSD" displayName="SD" dataType="Double" validationType="Decimal" validationCondition="Greater" formula1="0" isOptional="True"/>
                  <column name="DistributionMin" displayName="Minimum" dataType="Double" validationType="Decimal" validationCondition="GreaterEqual" formula1="0" isOptional="True"/>
                  <column name="DistributionMax" displayName="Maximum" dataType="Double" validationType="Decimal" validationCondition="GreaterEqual" formula1="0" isOptional="True"/>
                </columns>
                <validations>
                  <validation validationType="LessEqual" columns="DistributionMin|DistributionMax"/>
                </validations>
              </datasheet>
            </datasheets>
          </datafeed>                              
          <datafeed name="dgsim:annual-harvest-option-datafeed" displayName="Annual Harvest Options" dataScope="Scenario">
            <datasheets>
              <datasheet name="DGSim_AnnualHarvestOption" displayName="Annual Harvest Option" isSingleRow="True">
                <columns>
                  <column name="AnnualHarvestOptionID" dataType="Integer" isPrimary="True"/>
                  <column name="ScenarioID" dataType="Integer"/>
                  <column name="Specification" displayName="Specify Harvest As" dataType="Integer" validationType="List" formula1="0:Absolute Number|1:Percentage of Cohort|2:Percentage of Population"/>
                  <column name="PopFilterSex" displayName="Pop Filter Sex" dataType="Integer" validationType="List" formula1="0:Male|1:Female"/>
                  <column name="PopFilterMinAge" displayName="Pop Filter Min Age" dataType="Integer" validationType="WholeNumber" validationCondition="GreaterEqual" formula1="0"/>
                  <column name="PopFilterMaxAge" displayName="Pop Filter Max Age" dataType="Integer" validationType="WholeNumber" validationCondition="GreaterEqual" formula1="0"/>
                </columns>
                <validations>
                  <validation validationType="LessEqual" columns="PopFilterMinAge|PopFilterMaxAge"/>
                </validations>
              </datasheet>
            </datasheets>
          </datafeed>                    
          <datafeed name="dgsim:annual-harvest-value-datafeed" displayName="Annual Harvest Value" dataScope="Scenario">
            <datasheets>
              <datasheet name="DGSim_AnnualHarvestValue" displayName="Annual Harvest Value">
                <columns>
                  <column name="AnnualHarvestValueID" dataType="Integer" isPrimary="True"/>
                  <column name="ScenarioID" dataType="Integer"/>
                  <column name="Iteration" dataType="Integer" validationType="WholeNumber" validationCondition="Greater" formula1="0" format="d" isOptional="True"/>
                  <column name="Timestep" displayName="Year" dataType="Integer" validationType="WholeNumber" validationCondition="GreaterEqual" formula1="0" format="d" isOptional="True"/>
                  <column name="StratumID" displayName="Stratum" dataType="Integer" validationType="Datasheet" formula1="DGSim_Stratum" isOptional="True"/>
                  <column name="Sex" dataType="Integer" validationType="List" formula1="0:Male|1:Female" isOptional="True"/>
                  <column name="AgeClassID" displayName="Age Class" dataType="Integer" validationType="Datasheet" formula1="DGSim_AgeClass" isOptional="True"/>
                  <column name="Mean" dataType="Double" validationType="Decimal" validationCondition="GreaterEqual" formula1="0"/>
                  <column name="DistributionType" displayName="Distribution" dataType="Integer" validationType="Datasheet" formula1="STime_DistributionType" isOptional="True"/>
                  <column name="DistributionSD" displayName="SD" dataType="Double" validationType="Decimal" validationCondition="Greater" formula1="0" isOptional="True"/>
                  <column name="DistributionMin" displayName="Minimum" dataType="Double" validationType="Decimal" validationCondition="GreaterEqual" formula1="0" isOptional="True"/>
                  <column name="DistributionMax" displayName="Maximum" dataType="Double" validationType="Decimal" validationCondition="GreaterEqual" formula1="0" isOptional="True"/>
                </columns>
                <validations>
                  <validation validationType="LessEqual" columns="DistributionMin|DistributionMax"/>
                </validations>
              </datasheet>
            </datasheets>
          </datafeed>                                                            
          <datafeed name="dgsim:demographic-rate-shift-datafeed" displayName="Demographic Rate Shifts" dataScope="Scenario">
            <datasheets>
              <datasheet name="DGSim_DemographicRateShift" displayName="Demographic Rate Shifts">
                <columns>
                  <column name="DemographicRateShiftID" dataType="Integer" isPrimary="True"/>
                  <column name="ScenarioID" dataType="Integer"/>
                  <column name="Iteration" dataType="Integer" validationType="WholeNumber" validationCondition="Greater" formula1="0" format="d" isOptional="True"/>
                  <column name="Timestep" displayName="Year" dataType="Integer" validationType="WholeNumber" validationCondition="GreaterEqual" formula1="0" format="d" isOptional="True"/>
                  <column name="AgeClassID" displayName="Age Class" dataType="Integer" validationType="Datasheet" formula1="DGSim_AgeClass"/>
                  <column name="Fecundity" dataType="Double" validationType="Decimal" validationCondition="Between" formula1="-1"  formula2="1"/>
                  <column name="Mortality" dataType="Double" validationType="Decimal" validationCondition="Between" formula1="-1"  formula2="1"/>
                </columns>
                <validations>
                  <validation validationType="Unique" columns="Iteration|Timestep|AgeClassID"/>
                </validations>
              </datasheet>
            </datasheets>
          </datafeed>
          <datafeed name="dgsim:census-datafeed" displayName="Census Data" dataScope="Scenario">
            <datasheets>
              <datasheet name="DGSim_Census" displayName="Census Data">
                <columns>
                  <column name="CensusID" dataType="Integer" isPrimary="True"/>
                  <column name="ScenarioID" dataType="Integer"/>
                  <column name="Timestep" displayName="Year" dataType="Integer" validationType="WholeNumber" validationCondition="GreaterEqual" formula1="0" format="d"/>
                  <column name="StratumID" displayName="Stratum" dataType="Integer" validationType="Datasheet" formula1="DGSim_Stratum"/>
                  <column name="MinimumPopulation" displayName="Minimum Population" dataType="Integer" validationType="WholeNumber" validationCondition="Greater" formula1="0"/>
                  <column name="MaximumPopulation" displayName="Maximum Population" dataType="Integer" validationType="WholeNumber" validationCondition="Greater" formula1="0"/>
                  <column name="MinimumMToFRatio" displayName="Minimum M:F Ratio" dataType="Double" validationType="Decimal" validationCondition="Between" formula1="0"  formula2="1" isOptional="True"/>
                  <column name="MaximumMToFRatio" displayName="Maximum M:F Ratio" dataType="Double" validationType="Decimal" validationCondition="Between" formula1="0"  formula2="1" isOptional="True"/>
                </columns>
                <validations>
                  <validation validationType="LessEqual" columns="MinimumMToFRatio|MaximumMToFRatio"/>
                </validations>
              </datasheet>
            </datasheets>
          </datafeed>
          <datafeed name="dgsim:output-population-size-datafeed" displayName="Population Size" dataScope="Scenario" isOutput="True">
            <datasheets>
              <datasheet name="DGSim_OutputPopulationSize" displayName="Population Size">
                <columns>
                  <column name="ScenarioID" dataType="Integer" isCompositeIndex="True"/>
                  <column name="Iteration" dataType="Integer" isCompositeIndex="True" format="d"/>
                  <column name="Timestep" dataType="Integer" isCompositeIndex="True" format="d"/>
                  <column name="StratumID" displayName="Stratum" dataType="Integer" validationType="Datasheet" formula1="DGSim_Stratum" allowDbNull="False" isCompositeIndex="True"/>
                  <column name="Sex" dataType="Integer" validationType="List" formula1="0:Male|1:Female" allowDbNull="False" isCompositeIndex="True"/>
                  <column name="AgeClassID" displayName="Age Class" dataType="Integer" validationType="Datasheet" formula1="DGSim_AgeClass" allowDbNull="False" isCompositeIndex="True"/>
                  <column name="Population" dataType="Double"/>
                </columns>
              </datasheet>
            </datasheets>
          </datafeed>
          <datafeed name="dgsim:output-harvest-datafeed" displayName="Harvest" dataScope="Scenario" isOutput="True">
            <datasheets>
              <datasheet name="DGSim_OutputHarvest" displayName="Harvest">
                <columns>
                  <column name="ScenarioID" dataType="Integer" isCompositeIndex="True"/>
                  <column name="Iteration" dataType="Integer" isCompositeIndex="True" format="d"/>
                  <column name="Timestep" dataType="Integer" isCompositeIndex="True" format="d"/>
                  <column name="StratumID" displayName="Stratum" dataType="Integer" validationType="Datasheet" formula1="DGSim_Stratum" allowDbNull="False" isCompositeIndex="True"/>
                  <column name="Sex" dataType="Integer" validationType="List" formula1="0:Male|1:Female" allowDbNull="False" isCompositeIndex="True"/>
                  <column name="AgeClassID" displayName="Age Class" dataType="Integer" validationType="Datasheet" formula1="DGSim_AgeClass" allowDbNull="False" isCompositeIndex="True"/>
                  <column name="Harvest" dataType="Double" validationCondition="GreaterEqual" formula1="0" />
                </columns>
              </datasheet>
            </datasheets>
          </datafeed>
          <datafeed name="dgsim:output-recruits-datafeed" displayName="Recruits" dataScope="Scenario" isOutput="True">
            <datasheets>
              <datasheet name="DGSim_OutputRecruits" displayName="Recruits">
                <columns>
                  <column name="ScenarioID" dataType="Integer" isCompositeIndex="True"/>
                  <column name="Iteration" dataType="Integer" isCompositeIndex="True" format="d"/>
                  <column name="Timestep" dataType="Integer" isCompositeIndex="True" format="d"/>
                  <column name="StratumID" displayName="Stratum" dataType="Integer" validationType="Datasheet" formula1="DGSim_Stratum" allowDbNull="False" isCompositeIndex="True"/>
                  <column name="MotherAgeClassID" displayName="Mother Age Class" dataType="Integer" validationType="Datasheet" formula1="DGSim_AgeClass" allowDbNull="False" isCompositeIndex="True"/>
                  <column name="OffspringSex" displayName="Offspring Sex" dataType="Integer" validationType="List" formula1="0:Male|1:Female" allowDbNull="False" isCompositeIndex="True"/>
                  <column name="Recruits" dataType="Double" validationCondition="GreaterEqual" formula1="0" />
                </columns>
              </datasheet>
            </datasheets>
          </datafeed>
          <datafeed name="dgsim:output-mortality-datafeed" displayName="Mortality" dataScope="Scenario" isOutput="True">
            <datasheets>
              <datasheet name="DGSim_OutputMortality " displayName="Mortality">
                <columns>
                  <column name="ScenarioID" dataType="Integer" isCompositeIndex="True"/>
                  <column name="Iteration" dataType="Integer" isCompositeIndex="True" format="d"/>
                  <column name="Timestep" dataType="Integer" isCompositeIndex="True" format="d"/>
                  <column name="StratumID" displayName="Stratum" dataType="Integer" validationType="Datasheet" formula1="DGSim_Stratum" allowDbNull="False" isCompositeIndex="True"/>
                  <column name="Sex" dataType="Integer" validationType="List" formula1="0:Male|1:Female" allowDbNull="False" isCompositeIndex="True"/>
                  <column name="AgeClassID" displayName="Age Class" dataType="Integer" validationType="Datasheet" formula1="DGSim_AgeClass" allowDbNull="False" isCompositeIndex="True"/>
                  <column name="Mortality" dataType="Double" validationCondition="GreaterEqual" formula1="0" />
                </columns>
              </datasheet>
            </datasheets>
          </datafeed>
          <datafeed name="dgsim:output-posterior-distribution-value-datafeed" displayName="Sampled Inputs by Iteration" dataScope="Scenario" isOutput="True">
            <datasheets>
              <datasheet name="DGSim_OutputPosteriorDistributionValue" displayName="Sampled Inputs by Iteration">
                <columns>
                  <column name="ScenarioID" dataType="Integer" isCompositeIndex="True"/>
                  <column name="Iteration" dataType="Integer" isCompositeIndex="True" format="d"/>
                  <column name="Timestep" dataType="Integer" isCompositeIndex="True" format="d"/>
                  <column name="HasCensusData" dataType="Boolean"/>
                  <column name="JulianDay" dataType="Integer"/>
                  <column name="StratumID" displayName="Stratum" dataType="Integer" validationType="Datasheet" formula1="DGSim_Stratum" isCompositeIndex="True"/>
                  <column name="Sex" dataType="Integer" validationType="List" formula1="0:Male|1:Female" isCompositeIndex="True"/>
                  <column name="AgeClassID" displayName="Age Class" dataType="Integer" validationType="Datasheet" formula1="DGSim_AgeClass" isCompositeIndex="True"/>
                  <column name="Variable" dataType="Integer" validationType="List" formula1="0:Harvest|1:Mortality|2:Offspring"/>
                  <column name="IsFiltered" displayName="IsFiltered" dataType="Boolean"/>
                  <column name="Value" dataType="Double"/>
                </columns>
              </datasheet>
            </datasheets>
          </datafeed>
        </datafeeds>
      </transformer>
      <transformer name="dgsim:population-size-report" displayName="Population Size Summary" className="SyncroSim.DGSim.PopulationSizeReport" classAssembly="SyncroSim.DGSim">
      </transformer>
      <transformer name="dgsim:harvest-report" displayName="Harvest Summary" className="SyncroSim.DGSim.HarvestReport" classAssembly="SyncroSim.DGSim">
      </transformer>
      <transformer name="dgsim:recruits-report" displayName="Recruits Summary" className="SyncroSim.DGSim.RecruitsReport" classAssembly="SyncroSim.DGSim">
      </transformer>
      <transformer name="dgsim:mortality-report" displayName="Mortality Summary" className="SyncroSim.DGSim.MortalityReport" classAssembly="SyncroSim.DGSim">
      </transformer>
      <transformer name="dgsim:posterior-distribution-report" displayName="Sampled Inputs by Iteration" className="SyncroSim.DGSim.PosteriorDistributionReport" classAssembly="SyncroSim.DGSim">
      </transformer>
    </transformers>
    <views>
      <view name="dgsim:run-control-datafeed-view" target="dgsim:run-control-datafeed" className="SyncroSim.DGSim.RunControlDataFeedView" classAssembly="SyncroSim.DGSim"/>
      <view name="dgsim:initial-population-datafeed-view" target="dgsim:initial-population-datafeed" className="SyncroSim.DGSim.InitialPopulationDataFeedView" classAssembly="SyncroSim.DGSim"/>
      <view name="dgsim:offspring-per-female-datafeed-view" target="dgsim:offspring-per-female-datafeed" className="SyncroSim.DGSim.OffspringPerFemaleDataFeedView" classAssembly="SyncroSim.DGSim"/>
      <view name="dgsim:annual-harvest-option-datafeed-view" target="dgsim:annual-harvest-option-datafeed" className="SyncroSim.DGSim.AnnualHarvestOptionDataFeedView" classAssembly="SyncroSim.DGSim"/>
    </views>
    <layouts>
      <layout name="system-forms:result-transformers">
        <item name="stime:charts"/>
        <group name="Reports">
          <group name="Summary">
            <item name="dgsim:population-size-report"/>
            <item name="dgsim:harvest-report"/>
            <item name="dgsim:recruits-report"/>
            <item name="dgsim:mortality-report"/>
            <item name="dgsim:posterior-distribution-report"/>
          </group>
        </group>
      </layout>
      <layout name="system-forms:library-datafeeds">
        <item name="system:multiprocessing-datafeed"/>
        <item name="system:option-datafeed"/>
      </layout>
      <layout name="system-forms:project-datafeeds">
        <item name="dgsim:stratum-datafeed"/>
        <item name="dgsim:ageclass-datafeed"/>
      </layout>
      <layout name="system-forms:scenario-datafeeds">
        <item name="dgsim:run-control-datafeed"/>
        <item name="dgsim:initial-population-datafeed"/>
        <group name="Demographic Parameters">
          <item name="dgsim:ageclass-range-datafeed"/>
          <item name="dgsim:offspring-per-female-datafeed"/>
          <item name="dgsim:annualized-mortality-rate-datafeed"/>
          <item name="dgsim:demographic-rate-shift-datafeed"/>
        </group>
        <group name="Harvest">
          <item name="dgsim:annual-harvest-value-datafeed" displayName="Annual Harvest"/>  
          <item name="dgsim:annual-harvest-option-datafeed" displayName="Options"/>            
        </group>
        <item name="dgsim:census-datafeed"/>
      </layout>
      <layout name="system-forms:scenario-datafeeds-lite">
        <item name="dgsim:run-control-datafeed"/>
        <item name="dgsim:annual-harvest-value-datafeed" displayName="Annual Harvest"/>
      </layout>
      <layout name="stime:charts" configurationSheet="DGSim_RunControl">
        <item name="Population" dataSheet="DGSim_OutputPopulationSize" column="Population" filter="AgeClassID|Sex|StratumID"/>
        <item name="Harvest" dataSheet="DGSim_OutputHarvest" column="Harvest" filter="AgeClassID|Sex|StratumID"/>
        <item name="Recruits" dataSheet="DGSim_OutputRecruits" column="Recruits" filter="MotherAgeClassID|OffspringSex|StratumID"/>
        <item name="Mortality" dataSheet="DGSim_OutputMortality" column="Mortality" filter="AgeClassID|Sex|StratumID"/>
      </layout>
    </layouts>
    <updateProvider 
      tableName="DGSim_Version" 
      schemaVersion="2" 
      packageVersion="2.1.29" 
      className="SyncroSim.DGSim.DGSimUpdates" 
      classAssembly="SyncroSim.DGSim"/>
  
</package>
</configuration>
