@import "minima";
/* Color of links and other bits an bolts of the website set as the same than on SyncroSim website */
:root {
  --apexOrange: #d68a06;
}

/* Links */
a {
  color: var(--apexOrange);
}

/* Active search */
.search-input:focus+.search-label .search-icon {
  color: var(--apexOrange);
}

.search-result-doc .search-result-icon {
  color: var(--apexOrange);
}
